
<main>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{site.baseUrl}}/images/Belvedere.jpg" class="d-block mx-lg-auto img-fluid" alt="Belvedere" loading="lazy">
            <span class="text-muted">
                Photo <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> by <a href="https://commons.wikimedia.org/wiki/User:Bwag">C.Stadler/Bwag</a>
            </span>
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">PACT 2023</h1>
            <p class="lead">
                <p>
                    <!-- // When -->
                    {{ site.data.vars.conf_dates }}

                    <br>

                    <!-- // Where -->
                    Vienna, Austria
                    <!-- <a href="https://dpi.uillinois.edu/contact/">Discovery Partners Institute</a><br> -->
                    <!--200 S. Wacker Drive, Chicago, IL -->
                </p>
            </p>

            <p class="lead" style="text-align: justify;">
                The 32nd International Conference on Parallel Architectures and
                Compilation Techniques (PACT) will be held during {{ site.data.vars.conf_dates }}.
                PACT is a long-running and unique conference at the intersection of
                classical parallel architectures and compilers that brings together
                researchers from architecture, compilers, programming languages, and
                applications to present and discuss their latest research results.
                Applications as a driver for innovations in architecture and compilers
                are an important theme of the conference.
            </p>

            <!--
            <ul>
                <li>
                    <b>
                        Paper downloads are now
                        <a href="https://ssl.tiker.net/nextcloud/s/SRTCfZyD4g9zoiA">
                        available</a>. (Password required)
                    </b>
                </li>
            </ul>
            -->

            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="https://cvent.me/N5v31n" class="btn btn-primary btn-lg px-4 me-md-2">Register Now »</a>
                <a href="attend.html" class="btn btn-outline-secondary btn-lg px-4">Attend</a>
            </div>
        </div>
    </div>
</main>
