
<main>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{site.baseUrl}}/images/Belvedere.jpg" class="d-block mx-lg-auto img-fluid" alt="Belvedere" loading="lazy">
            <span class="text-muted">
                Photo <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> by <a href="https://commons.wikimedia.org/wiki/User:Bwag">C.Stadler/Bwag</a>
            </span>
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">PACT 2024</h1>
            <p class="lead">
                <p>
                    <!-- // When -->
                    {{ site.data.vars.conf_dates }}

                    <br>

                    <!-- // Where -->
                    Long Beach, California, USA
                    <!-- <a href="https://dpi.uillinois.edu/contact/">Discovery Partners Institute</a><br> -->
                    <!--200 S. Wacker Drive, Chicago, IL -->
                </p>
            </p>

            <p class="lead" style="text-align: justify;">
                The International Conference on Parallel Architectures and Compilation Techniques (PACT) is a unique 
                technical conference sitting at the intersection of hardware and software, with a special emphasis on 
                parallelism. The PACT conference series brings together researchers from computer architectures, 
                compilers, execution environments, programming languages, and applications, to present and discuss their latest research results.\br
                PACT 2024 will be held as an in-person event in Long Beach, California, USA. At least one of the authors 
                of accepted papers will be required to attend the conference, and we encourage all the authors to participate.
            </p>

            <!--
            <ul>
                <li>
                    <b>
                        Paper downloads are now
                        <a href="https://ssl.tiker.net/nextcloud/s/SRTCfZyD4g9zoiA">
                        available</a>. (Password required)
                    </b>
                </li>
            </ul>
            -->

            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="https://cvent.me/N5v31n" class="btn btn-primary btn-lg px-4 me-md-2">Register Now »</a>
                <a href="attend.html" class="btn btn-outline-secondary btn-lg px-4">Attend</a>
            </div>
        </div>
    </div>
</main>
